In [1]:
import pandas as pd

In [2]:
all_ads = pd.read_excel("all_fb_ads.xlsx")

In [3]:
all_ads.head()

,adID,adText,adSpend,adLP,adImpress,adClicks,adCreation,groups,adLocation_cleaned,adStates,adDate
0,48,NaN,0.00,https://www.facebook.com/pages/Proud-Blacks/10...,0.0,0.0,08/13/15 03: 30: 11 AM PDT,NaN,NaN,NaN,2015-08-13
1,487,Join our rally atFree the patriots stand for l...,4364.22,NaN,3335.0,171.0,04/12/16 01 :59:17 AM PDT,Veterans Day or Patriotism,Atlanta Georgia,Georgia,2016-04-12
2,515,Join our rally atFree the patriots stand for l...,837.80,NaN,636.0,41.0,04/14/16 04:15:55 AM PDT,Veterans Day or Patriotism,Atlanta Georgia,Georgia,2016-04-14
3,532,Join our rally atFree the patriots stand for l...,0.00,NaN,NaN,0.0,04/14/16 04:15:52 AM PDT,Veterans Day or Patriotism,Atlanta Georgia,Georgia,2016-04-14
4,1863,When ur credit card gets declined and u\nprete...,10.08,https://www.facebook.com/Memopolis-45047461515...,117.0,16.0,05/12/16 06:07:04 AM PDT,CollegeHumor BuzzFeed or GAG,NaN,NaN,2016-05-12

In [4]:
all_ads = all_ads.dropna(subset=['adText'])
all_ads = all_ads.drop('groups',axis=1)

In [6]:
all_ads.head()
all_ads.dtypes

adID                           int64
adText                        object
adSpend                      float64
adLP                          object
adImpress                    float64
adClicks                     float64
adCreation                    object
adLocation_cleaned            object
adStates                      object
adDate                datetime64[ns]
dtype: object

In [10]:
cleaned_ads = all_ads
cleaned_ads["fix_date"] = cleaned_ads["adCreation"].astype(str)
cleaned_ads["length"] = cleaned_ads["fix_date"].str.len()

In [11]:
cleaned_ads.head()

,adID,adText,adSpend,adLP,adImpress,adClicks,adCreation,adLocation_cleaned,adStates,adDate,fix_date,length
1,487,Join our rally atFree the patriots stand for l...,4364.22,NaN,3335.0,171.0,04/12/16 01 :59:17 AM PDT,Atlanta Georgia,Georgia,2016-04-12,04/12/16 01 :59:17 AM PDT,25
2,515,Join our rally atFree the patriots stand for l...,837.80,NaN,636.0,41.0,04/14/16 04:15:55 AM PDT,Atlanta Georgia,Georgia,2016-04-14,04/14/16 04:15:55 AM PDT,24
3,532,Join our rally atFree the patriots stand for l...,0.00,NaN,NaN,0.0,04/14/16 04:15:52 AM PDT,Atlanta Georgia,Georgia,2016-04-14,04/14/16 04:15:52 AM PDT,24
4,1863,When ur credit card gets declined and u\nprete...,10.08,https://www.facebook.com/Memopolis-45047461515...,117.0,16.0,05/12/16 06:07:04 AM PDT,NaN,NaN,2016-05-12,05/12/16 06:07:04 AM PDT,24
6,3307,Photo by Isadora Kosofskypart of an ongoing se...,0.00,https://www.facebook.com/Hell_and_Back-1806743...,0.0,0.0,02/13/17 07:32:39 AM PST,NaN,NaN,2017-02-13,02/13/17 07:32:39 AM PST,24

In [18]:
cleaned_data = cleaned_ads
cleaned_data = cleaned_data.drop(cleaned_data[cleaned_data.length > 25].index)

In [19]:
print(len(cleaned_data))

3411

In [20]:
cleaned_data.to_csv("cleaned_data.csv")